.logo_anim {
    animation-name: logo_anim;
    animation-duration: 2s;
    animation-direction: reverse;


}

@keyframes logo_anim {
    0% {
        color: #f13c6e;
        font-size: 36px;
    }

    100% {
        color:rgb(153, 150, 151);
        font-size: 42px;
    }
}

.header-top_logo img {
    transform: none;
    animation-name: img_anim;
    animation-duration: 2s;
    animation-direction: reverse;
}
@keyframes img_anim {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(360deg);
    }
}

.product:hover {
    transform: scale(1.1);
}
.subscribe_mail_img:hover {
    transform: scale(1.1);
}
.subscribe_map_img:hover {
    transform: scale(1.1);
}